In [12]:
from sklearn.preprocessing import StandardScaler

def scale_data(X_train, X_test, X_val, y_train, y_test, y_val):
    X_scaler = StandardScaler()
    X_scaler.fit(X_train)
    X_train_scaled = X_scaler.transform(X_train)
    X_test_scaled = X_scaler.transform(X_test)
    X_val_scaled = X_scaler.transform(X_val)
    
    y_scaler = StandardScaler()
    y_scaler.fit(y_train)
    y_train_scaled = y_scaler.transform(y_train)
    y_test_scaled = y_scaler.transform(y_test)
    y_val_scaled = y_scaler.transform(y_val)
    
    return X_train_scaled, X_test_scaled, X_val_scaled, y_train_scaled, y_test_scaled, y_val_scaled

In [4]:
import pandas as pd

load_df = pd.read_csv("load_data_track1.csv")
# wind_df = pd.read_csv("wind_data_all_zone.csv")
# solar_df = pd.read_csv("solar_new.csv")

load_df

,Unnamed: 0,LOAD,w1,w2,w3,w4,w5,w6,w7,w8,...,w16,w17,w18,w19,w20,w21,w22,w23,w24,w25
0,2005-01-01 01:00:00,125.8,43,46,40,47,48,46,44,52,...,50,39,50,45,50,47,41,47,47,45
1,2005-01-01 02:00:00,121.8,41,46,38,46,48,45,51,50,...,48,41,49,46,47,47,45,47,47,45
2,2005-01-01 03:00:00,117.0,40,46,37,45,45,45,49,48,...,46,43,50,45,45,46,45,46,46,43
3,2005-01-01 04:00:00,114.4,39,46,37,47,48,48,45,50,...,46,43,49,43,45,44,45,47,47,44
4,2005-01-01 05:00:00,113.6,38,46,37,44,48,49,43,50,...,45,43,49,43,43,45,45,47,46,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50371,2010-09-30 20:00:00,176.8,75,70,61,73,72,79,70,71,...,70,72,73,71,70,77,70,71,71,71
50372,2010-09-30 21:00:00,169.4,75,70,61,72,72,79,69,70,...,70,70,72,70,70,77,70,72,70,70
50373,2010-09-30 22:00:00,155.8,74,70,61,71,71,70,70,70,...,70,70,70,70,70,72,70,71,70,70
50374,2010-09-30 23:00:00,143.8,73,70,61,69,71,70,70,70,...,69,69,72,69,70,69,68,72,72,70
50375,2010-10-01 00:00:00,130.2,71,70,62,64,70,70,69,70,...,70,68,71,69,70,70,68,72,68,69

In [11]:
features = load_df.columns[2:]
X_full = load_df[features]
y_full = load_df['LOAD']

0        125.8
1        121.8
2        117.0
3        114.4
4        113.6
         ...
50371    176.8
50372    169.4
50373    155.8
50374    143.8
50375    130.2
Name: LOAD, Length: 50376, dtype: float64